<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.mybatis_3.mapper.EmpMapper">
    <resultMap id="empResultMap" type="emp">
        <id column="emp_id" property="empId"></id>
        <result column="emp_name" property="empName"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
    </resultMap>
    
    <!--Emp getEmpByEmpId(@Param("id")Integer id);-->
    <select id="getEmpByEmpId" resultMap="empResultMap">

    </select>


    <select id="getEmpByEmpIdOld" resultType="emp">
        <!--select emp_id empId, emp_name empName,age,gender from t_emp where emp_id = #{empId}  在sql中起别名-->
        select * from t_emp where emp_id = #{empId}
    </select>
</mapper>